crawl_examples/
data/archival/
data/archival/*csv
data/archival/*xlsx
data/formatted/*csv
code/.Rhistory
code/.Rdata
code/*.csv
data/
results/*
docs/presentations/*
docs/manuscript/*.aux
docs/manuscript/*.bbl
docs/manuscript/*.blg
docs/manuscript/*.fdb_latexmk
docs/manuscript/*.fls
docs/manuscript/*.log
docs/manuscript/*.out
docs/manuscript/*.synctex.gz
docs/manuscript/*.xdv
temp_data/
data.zip
code/log_ctmc.txt
code/.ipynb_checkpoints/advi_movement_models-checkpoint.ipynb
code/analyze_pig_movements.nb.html
code/other_scripts/.ipynb_checkpoints/
code/tejon_analysis.nb.html
code/analyze_pig_movements_by_pig.nb.html
code/analysis_summary_3-18-2018.html