crawl_examples/
data/archival/
data/archival/*csv
data/archival/*xlsx
data/formatted/*csv
code/.Rhistory
code/.Rdata
code/*.csv
data/
results/*
docs/presentations/*
docs/manuscript/*.aux
docs/manuscript/*.bbl
docs/manuscript/*.blg
docs/manuscript/*.fdb_latexmk
docs/manuscript/*.fls
docs/manuscript/*.log
docs/manuscript/*.out
docs/manuscript/*.synctex.gz
docs/manuscript/*.xdv
temp_data/
data.zip
code/log_ctmc.txt
